[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
statsmodels = "*"
"pymc3" = "*"
sympy = "*"


[dev-packages]

