altair==2.2.2
arrow==0.15.2
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.8.1
binaryornot==0.4.4
bleach==2.1.4
blis==0.2.4
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloudpickle==1.1.1
cookiecutter==1.6.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29
dask==1.2.2
decorator==4.3.0
defusedxml==0.5.0
distributed==1.28.1
entrypoints==0.2.3
fbprophet==0.3.post2
filterpy==1.4.5
future==0.17.1
h5py==2.8.0
HeapDict==1.0.0
html5lib==1.0.1
idna==2.8
imbalanced-learn==0.4.3
infinity==1.4
intervals==0.8.1
ipykernel==4.9.0
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.12.1
Jinja2==2.10.3
jinja2-time==0.2.0
joblib==0.12.4
json5==0.8.5
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.1
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
kiwisolver==1.0.1
llvmlite==0.30.0
MarkupSafe==1.0
matplotlib==3.1.1
Mesa==0.8.6
missingno==0.4.1
mistune==0.8.3
mpmath==1.0.0
msgpack==0.6.1
murmurhash==1.0.2
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.3
notebook==6.0.1
numba==0.46.0
numpy==1.17.3
opencv-python==4.1.1.26
pandas==0.25.3
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
plac==0.9.6
pomegranate==0.11.0
poyo==0.5.0
preshed==2.0.1
prometheus-client==0.3.1
prompt-toolkit==2.0.10
psutil==5.6.2
ptyprocess==0.6.0
pyarrow==0.14.0
Pygments==2.2.0
pymc3==3.5
pyparsing==2.2.0
pyrsistent==0.15.4
pystan==2.18.0.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.22.0
scikit-learn==0.20.2
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sortedcontainers==1.5.10
soupsieve==1.9.5
spacy==2.1.6
srsly==0.0.7
statsmodels==0.9.0
stumpy==1.2.1
style==1.1.0
sympy==1.2
tblib==1.4.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.2
thinc==7.0.8
tifffile==2019.7.26
toolz==0.9.0
tornado==5.1
tqdm==4.26.0
traces==0.4.2
traitlets==4.3.2
typing==3.6.6
update==0.0.1
urllib3==1.25.3
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.4.2
xlrd==1.1.0
zict==0.1.4
